body,
h2 {
    font-family: 'Raleway', sans-serif;
}

body,
html {
    height: 100%
}

p {
    line-height: 2
}

.bgimg,
.bgimg2 {
    min-height: 100%;
    background-position: center;
    background-size: cover;
}

.bgimg {
    background-image: url("img/header-img.jpg")
}

.bgimg2 {
    background-image: url("img/header-img3.jpg")
}

#us, #wedding{
    background-color: #F8F0E5;
}

#rsvp{
    background-color: #F2D8D8;
}

.title{
    font-family: 'Great Vibes', sans-serif;
    font-weight: bolder;
}

.address{
    text-decoration: none;
}